<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" [style.background]="'url(assets/img/consulting1.png)'">
  <a class="navbar-brand" href="#">Workshop Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="pessoas" class="nav-link" routerLinkActive="active">Lista de Pessoas</a>
      </li>
      <li class="nav-item">
        <a routerLink="criar" class="nav-link" routerLinkActive="active">Cadastrar Pessoa</a>
      </li>
    </ul>
  </div>
</nav>